# Tipe deploy (contoh: vercel, docker, local)
VITE_DEPLOY_TYPE=local

# URL Data Tahun 2025
VITE_BERANDA_2025=https://datastudio.google.com/embed/reporting/6481b956-06ca-410a-ae4e-ed8d373cc994/page/p_12051gbz3d
VITE_GEOSPATIAL_2025=https://data-spmb.pky.or.id/geospatial.parquet
# Tambahkan URL ini jika Anda menggunakan Delta Sync (Incremental Data update)
# VITE_GEOSPATIAL_DELTA_2025=https://data-spmb.pky.or.id/geospatial_delta.parquet
VITE_PAUD_2025=https://datastudio.google.com/embed/reporting/123-paud-2025
VITE_SD_2025=https://datastudio.google.com/embed/reporting/456-sd-2025
VITE_SMP_2025=https://datastudio.google.com/embed/reporting/789-smp-2025

# URL Data Tahun 2026 (Opsional - Tambahkan saat tahun 2026 tiba)
# VITE_BERANDA_2026=...
# VITE_GEOSPATIAL_2026=...
# VITE_GEOSPATIAL_DELTA_2026=...
# VITE_PAUD_2026=...
# VITE_SD_2026=...
# VITE_SMP_2026=...

# contoh
# VITE_GEOSPATIAL_2025=https://data-spmb.pky.or.id/geospatial.parquet
# VITE_GEOSPATIAL_DELTA_2025=https://data-spmb.pky.or.id/geospatial_delta.parquet