# Tipe deploy (contoh: vercel, docker, local)
VITE_DEPLOY_TYPE=local

# URL Data Tahun 2025
VITE_REGISTRASI_DATA_ID_2025=https://datastudio.google.com/embed/reporting/6481b956-06ca-410a-ae4e-ed8d373cc994/page/p_12051gbz3d
VITE_REGISTRASI_DATA_NIK_2025=https://datastudio.google.com/embed/reporting/123-nik-2025
VITE_TK_2025=https://datastudio.google.com/embed/reporting/123-tk-2025
VITE_SD_2025=https://datastudio.google.com/embed/reporting/456-sd-2025
VITE_SMP_2025=https://datastudio.google.com/embed/reporting/789-smp-2025

# URL Data Tahun 2026 (Opsional - Tambahkan saat tahun 2026 tiba)
# VITE_REGISTRASI_DATA_ID_2026=...
# VITE_REGISTRASI_DATA_NIK_2026=...
# VITE_TK_2026=...
# VITE_SD_2026=...
# VITE_SMP_2026=...
